* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

/* 이걸 해야 홈페이지 첫 부분이
좌측 상단으로 공백없이 붙음 */
body {
    margin: 0;
}

/* width로 고정된 너비를 가지고
margin: auto; 로 나머지 좌우 여백을
계산해서 수평 가운데 정렬로 만듬 */
main {
    width: 1500px;
    margin: auto;
}

header {
    height: 70px;
    display: flex;
}

header > section:nth-of-type(1),
header > section:nth-of-type(3) {
    flex-basis: 15%;
    display: flex;
}









/* 로고 */
header > section:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#home-logo, #menu-bar {
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    flex-basis: 50%;
}











/* 검색창 섹션 */
header > section:nth-of-type(2) {
    flex-basis: 70%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 검색창 공간 */
.search-area {
    display: flex;
    width: 100%;
    height: 50px;

    justify-content: center;
}



/* 검색창 */
.search-area > section:nth-of-type(1) {
    flex-basis: 60%;
    position: relative;
}


/* 마이크 공간 */
.search-area > section:nth-of-type(2) {
    flex-basis: 10%;
    width: 100%;
    height: 50px;
    display: flex;
    margin-left: 10px;
}

/* 마이크 버튼 */
.search-area > section:nth-of-type(2) > button {
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
    background-color: transparent;
}


/* 검색창, 키보드 버튼, 검색 버튼 */
.search-area fieldset {
    border: 2px solid #ddd;
    border-radius: 25px;
    margin: 0;
    padding: 2px;
    border-right: 1px solid #ddd;
    display: flex;
    justify-content: center;
}




/* 검색창 */
.search-area input {
    padding: 0;
    margin-left: 20px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    /* outline : 검색창 클릭해도 테두리선 안생김, none 말고 0 써도됨 */
    outline: none;
    /* outline : input 태그에 포커스가 맞춰졌을 떄
    이를 표현하기 위한 바깥선 */
    flex-basis: 90%;
}

/* 키보드 버튼 */
.search-area button:nth-of-type(1) {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

/* 키보드 검색 버튼 */
.search-area button:nth-of-type(2) {
    flex-basis: 5%;
    cursor: pointer;
    /* 아이콘 사이즈를 변경할 때는 font-size */
    font-size: 20px;
    color: black;
    border: none;
    /* 배경색 투명 */
    background-color: transparent;
}







/* 아이콘 */
header > section:nth-of-type(3) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 33%;
    font-size: 30px;
    background-color: transparent;
}

.icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.icon-area section:nth-of-type(1) {
    flex-basis: 60%;
}

.icon-area section:nth-of-type(2) {
    flex-basis: 40%;
    display: flex;
}




.icon-area section:nth-of-type(2) > button:nth-last-of-type(1),
.icon-area section:nth-of-type(2) > button:nth-last-of-type(2),
.icon-area section:nth-of-type(2) > button:nth-last-of-type(3) {
    justify-content: center;
    flex-basis: 33% ;
    font-size: 20px;
    border: none;
    background-color: transparent;
    
}



/* body */
/* 왼쪽 메인 영상 */
.container-1 {
    width: 1500px;
    height: 2000px;
    display: flex;
}

.container-left {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

.video {
    flex-basis: 30%;
}

/* 제목 */
.information-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 3%;
}

.information-2 {
    flex-basis: 2%;
    display: flex;
    
}


/* 영상제목 */
.title-name {
    flex-basis: 100%;
    font-size: 25px;
}


/* 채널사진 */
.title-img {
    flex-basis: 8%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.information-2-1 {
    flex-basis: 13%;
    display: flex;
    flex-direction: column;
}

/* 채널명 */
.information-2-1-1 {
    flex-basis: 50%;
    font-size: 140%;
    font-weight: bold;
}

/* 구독자 수 */
.information-2-1-2 {
    flex-basis: 50%;
    font-size: 100%;
}

/* 구독버튼 */
.information-2-2 {
    margin: 2% 0;
    flex-basis: 5%;
    font-size: 100%;
    background-color: black;
    color: white;
    border-radius: 35%;
    align-items: center;
    text-align: center;
}

/* 공백 */
.information-2-3 {
    flex-basis: 35%;
}

.information-2-4 {
    flex-basis: 15%;
    margin: 2% 0;
    border-radius: 30px;
    background-color: #ddd;
    border: none;
    display: flex;
}

.information-2-4 > button {
    padding: 0;
    flex-basis: 20%;
    border: none;
    background-color: transparent;
    font-size: 100%;
}



/* 오른쪽 작은 영상 */
.container-right {
    flex-basis: 30%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

span {
    display: block;
}




/* 영상1 */
.container-right-video-1 {
    flex-basis: 6%;
    display: flex;
    margin-bottom: 10px;
}

.container-right-video-1 img {
    border-radius: 5px;
    flex-basis: 50%;
}

.container-right-video-1 div {
    display: flex;
    flex-direction: column;
}

.container-right-video-1 span:nth-of-type(1) {
    flex-basis: 50%;
    font-size: 100%;
    -webkit-line-clamp: 2;
    line-height: 1.2;
    text-align: left;
    overflow:hidden;
}

.container-right-video-1 span:nth-of-type(2) {
    flex-basis: 25%;
}

.container-right-video-1 span:nth-of-type(3) {
    flex-basis: 25%;
}



/* 영상2 */
.container-right-video-2 {
    flex-basis: 6%;
    display: flex;
}

.img2 {
   
    flex-basis: 70%;
}

.video-information-2 {
    display: flex;
    flex-direction: column;
}

.video-name-2 {
      /* white-space:nowrap; */
    -webkit-line-clamp: 2;
    overflow:hidden;
    text-overflow:ellipsis;
    flex-basis: 50%;
    font-size: 100%;
}

.channel-2 {
    flex-basis: 25%;
}

.view-2 {
    flex-basis: 25%;
}
