.box-red {
    height: 50px;
    width: 50px;
    background-color: red;
    border: 1px solid white;
}

.box-green {
    height: 50px;
    width: 50px;
    background-color: green;
    border: 1px solid white;
}




#container-1 {
    border: 1px solid black;
    position: relative;
    height: 250px;
    width: 250px;
}

#container-1 > div:nth-child(1) {
    bottom: 100px;
    left: 0;
    position: absolute;
}

#container-1 > div:nth-child(2) {
    bottom: 50px;
    left: 0;
    position: absolute;
}

#container-1 > div:nth-child(3) {
    bottom: 0px;
    left: 0;
    position: absolute;
}

#container-1 > div:nth-child(4) {
    bottom: 0;
    left: 50px;
    position: absolute;
}

#container-1 > div:nth-child(5) {
    bottom: 50px;
    left: 50px;
    position: absolute;
}

#container-1 > div:nth-child(6) {
    bottom: 50px;
    left: 100px;
    position: absolute;
}

#container-1 > div:nth-child(7) {
    bottom: 0px;
    left: 100px;
    position: absolute;
}

#container-1 > div:nth-child(8) {
    bottom: 0;
    left: 150px;
    position: absolute;
}